.article {
    border: 1px solid black;
    display: flex;
}
.rightside {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rightside img {
  max-width: 100%;
  width: 216px;
  height: 144px;
  margin: 0 auto;
  object-fit: scale-down;
}

.leftside {
  display: inline;
  text-overflow: elipsis;
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
}
