.container {
  display: flex;
  align-items: center;
}

.nameAndDateContainer {
  display: inline-block;
  line-height: 0.25em;
  font-size: 0.8em;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid black;

  margin-right: 10px;
}
