:root {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

p {
  /*margin: 0;*/
}

.jodit-container p {
  margin: 0 !important;
}

#app {
  background-color: green;
}

a {
  text-decoration: none;
  color: inherit;
}
